{{>header}}

<!-- styleSheet -->
<link rel="stylesheet" href="/css/navbar.css" />
<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/readmore.css" />
<link rel="stylesheet" href="/css/aboutus.css" />
<title>ReadMore</title>

</head>

<body>
{{>navbar}}


  <div class="container">

  
  <div class="inner_box" >
    <section class="cover" >
    <div class="newheading">
        
        
        <div class="icon">  <img src="/img/logo.png"></div>
        <div class="name">  <h1 >{{restaurant.restaurantName}} Restaurant</h1>
                            <p class="bio"> Our view and goal is to remove hunger. </p>

        </div>
    </div>
    </section>

        <div class="heading">
        <table class="info">
            <tr>
                <td><i class="fa fa-phone" aria-hidden="true"></i> &nbsp 120-234568</td>
                <td><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp {{restaurant.restaurantEmail}} </td>
                <td><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp {{restaurant.restaurantLocation}} </td>
                <td><i class="fa fa-comment" aria-hidden="true"></i> &nbsp {{restaurant.restaurantAdminName}}</td>
            </tr>
        </table>

        <p></p>
        <p></p>
        <p></p>

        <table>
            {{#each food}}
            <tr>
                <td>
                <div class="bar">
                    <div class="restaurant_icon">  <img src="/img/startingphoto.png"></div>
                    <div class="meta_restaurant">  
                        <h4>{{this.foodName}}</h4>
                        <br>
                        <p><strong>Food Type: </strong>{{this.foodType}}</p>
                        <p><strong>Quantity of food in plates: </strong>{{this.foodQuantity}}</p>
                        <p><strong>Food Description: </strong>{{this.foodDescription}}</p>
                        {{!-- <a href="/readmore">read more</a> </p> --}}
                    </div>

                </div>
            </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
</div>

        

</div>